/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;  }
body {OverFlow-x: hidden; padding: 0; margin: 0px 5px 0px 5px; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #f2eff5 }
ul {list-style-type:none;}